@font-face {
  font-family: mainFont;
  src: url('../font/Cuprum-Regular.ttf');
}

body {
  margin: 0;
  font-family: mainFont, sans-serif;
  background-color: rgb(252, 251, 227);
  color: rgb(92, 38, 54);
}

/** Nav Bar **/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding-right: 40px;
  overflow: hidden;
  background-color: rgba(233, 205, 175, 0.7);
}

ul.topnav li {
  float: left;
}

ul.topnav a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

ul.topnav li a.logo {
  background-image: url('../images/logo.png');
  width: 100px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul.topnav li.right {
  float: right; 
  padding: 16px;
}

ul.topnav li.right:hover, ul.topnav li.active  {
  color: white;
  background-color: rgb(233, 205, 175);
}

/** Nav Bar **/

/** Register and Login Form **/
form {
  margin: auto;
  width: 500px;  
  padding: 20px;
}

form h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid tan;
  padding: 12px 20px;
  box-sizing: border-box;
}

input:focus {
  outline-color: rgb(233, 205, 175);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: italic;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-style: italic;
}

form input[type=submit] {
  text-transform: uppercase;
  color: white;
  background-color: olivedrab;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: mainFont, sans-serif;
}

form input[type=checkbox] {
  margin: 20px 0;
  width: 20px;
  vertical-align: middle;
}

form label {
  font-size: 0.9em;
}

/** Form **/

/** Main Container **/
.container {
  margin: auto;
  max-width: 70%;
  height: 100vh;
  text-align: center;
}

/** Search Form **/
.search {
  width: 100%;
}

.search input {
  margin-top: 20px;
  max-width: 60%;
  display: inline-block;
}

.search button {
  padding: 10px;
  background-color: inherit;
  border: none;
  color: inherit;
  vertical-align: middle;
}

.search button:hover {
  border-radius: 50%;
  background-color: rgba(233, 205, 175, 0.7);
}
/** Search Form **/

/** Add Form **/
textarea {
  resize: none;
  max-width: 69.5%;
  min-width: 69.5%;
  height: 150px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid tan;
}

textarea:focus {
  outline-color: rgb(233, 205, 175);
}

.add {
  padding: 0;
  width: 100%;
}

.add input, .addButtons {
  margin: auto;
  max-width: 70%;
  min-width: 70%;
  display: block;
}

.addButtons {
  margin-top: 5px;
}

.addButtons button {
  float: left;
  padding: 10px;
  background-color: inherit;
  border: none;
  color: inherit;
  font-family: mainFont, sans-serif;
  cursor: pointer;
  font-size: 1.2em;
}

#facebook {
  float: right;
  border-radius: 50%;
  color: rgba(92, 38, 54, 0.4);
}

.addButtons button:hover {
  border-radius: 4px;
  background-color: rgba(233, 205, 175, 0.7);
}

/** Add Form **/

/** My Profile **/

.quotes {
  display: inline-block;
  text-align: left;
  width: 60%;
}

.profile-details {
  position: fixed;
  display: inline-block;
  text-align: right;
}

/** My Profile **/

/** Main Container **/

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {
    float: none;
  }

  form {
    max-width: 90%;
    min-width: 50%;
  }
}

